*{
    margin:0;
    padding:0;
  }
  li{
    list-style: none;
  }
  .box{
    width:0;
    height:0;
    position: relative;
    margin:310px auto;
    margin-left: 40%;
    transform-style:preserve-3d;
    transform:rotateX(13deg);
    animation:move 8s linear infinite;
  }
  .minbox{
    width:120px;
    height:120px;
    position: absolute;
    left:50px;
    top:50px;
    transform-style:preserve-3d;
  }
  .minbox li{
    width:120px;
    height:120px;
    position: absolute;
    left:0;
    top:0;
  }
  .maxbox{
    width: 220px;
    height: 220px;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
  }
  .maxbox li{
    width: 220px;
    height: 220px;
    background: #fff;
    border:1px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    transition:all 1s ease;
  }
  .maxbox li:nth-child(1){
    transform:translateZ(115px);
  }
  .maxbox li:nth-child(2){
    transform:rotateX(180deg) translateZ(115px);
  }
  .maxbox li:nth-child(3){
    transform:rotateX(-90deg) translateZ(115px);
  }
  .maxbox li:nth-child(4){
    transform:rotateX(90deg) translateZ(115px);
  }
  .maxbox li:nth-child(5){
    transform:rotateY(-90deg) translateZ(115px);
  }
  .maxbox li:nth-child(6){
    transform:rotateY(90deg) translateZ(115px);
  }
  @keyframes move{
    0%{transform: rotateX(0deg) rotateY(26deg);}
    100%{transform: rotateX(360deg) rotateY(26deg);}
  }
  @media only screen and (max-width: 550px) {
    .box{margin-left: 23%;}
  }